<!DOCTYPE html>
<html lang="en">
<html>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="theme-color" content="#4285f4" />
      <meta name="author" content="Altertek" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
      <meta name="keywords" content="plugin, responsable, web, chrome, edge, firefox" />
      <meta name="description" content="je réduit ma conso sur internet" />

      <title>Green plugins: je réduit ma conso sur internet</title>

      <link rel="stylesheet" href="assets/css/normalize.css">
      <link rel="stylesheet" href="assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/css/custom.css">
</head>
<body>
  <header class="container">
    <h1 align="center">Green plugins: je réduit ma conso sur internet</h1>
  </header>

  <section class="container">
    <p align="center">Chez <a href="https://altertek.org" rel="noopener noreferrer" target="_blank">Altertek</a> nous avons décidé de proposer une collection de plugins permettant de <strong>réduire la consommation des utilisateurs sur internet.</strong></p>
  </section>

  <section class="container">
    <div class="card-deck">
      <div class="card">
        <img src="assets/images/ublock_origin.svg" class="card-img-top" alt="Logo de uBlock Origin" width="200" height="300">
        <div class="card-body">
          <h3 class="card-t itle"><strong>uBlock Origin</strong></h3>
          <p class="description">Filtre les publicités, les pisteurs et les sites malveillants</p>
          <br />
          <p><strong>Pourquoi c'est plus green ?</strong><br/>
            Moins de pisteurs, ça veut dire des sites plus légers. Lorsque que vous chargerez un site internet, vous consommerez moins de données.
          </p>
          <p><strong>D'autres avantages :</strong><br/>
            <ul>
              <li>Plus de rapidité : les sites étant moins lourds, ils se chargeront plus rapidement.</li>
              <li>Plus de vie privée : les pisteurs peuvent récupérer des informations très personnelles sur vous. En les bloquant vous protégez aussi votre vie privée.</li>
            </ul>
          </p>
          <p><strong>Disponible sur ces navigateurs </strong></p>
          <p align="center">
          <a href="https://addons.mozilla.org/addon/ublock-origin/" rel="noopener noreferrer" target="_blank"><img src="assets/images/get-firefox-add-on.png" alt="Get uBlock Origin for Firefox"></a>
          <a href="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm" rel="noopener noreferrer" target="_blank"><img src="assets/images/get-chrome-add-on.png" alt="Get uBlock Origin for Chrome and Chromium"></a>
          <a href="https://microsoftedge.microsoft.com/addons/detail/odfafepnkmbhccpbejgmiehpchacaeak" rel="noopener noreferrer" target="_blank"><img src="assets/images/get-microsoft-edge-add-on.png" alt="Get uBlock Origin for Microsoft Edge"></a>
          <a href="https://addons.opera.com/extensions/details/ublock/" rel="noopener noreferrer" target="_blank"><img src="assets/images/get-opera-add-on.png" alt="Get uBlock Origin for Opera"></a>
          </p>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/localcdn.svg" class="card-img-top" alt="Logo de LocalCDN" width="200" height="300">
        <div class="card-body">
          <h3 class="card-title"><strong>LocalCDN</strong></h3>
          <p class="description">Intercepte le trafic, utilise des ressources locales au lieu de ressources sur internet</p>
          <br />
          <p><strong>Pourquoi c'est plus green ?</strong><br/>
            En retrouvant les ressources localement sur nos ordinateurs, moins de requêtes sont envoyés sur internet.
          </p>
          <br />
          <p><strong>D'autres avantages :</strong><br/>
            <ul>
              <li>Plus de rapidité : les sites se chargeront plus rapidement.</li>
              <li>Plus de vie privée : les pisteurs peuvent récupérer des informations très personnelles sur vous. En les bloquant vous protégez aussi votre vie privée.</li>
            </ul>
          </p>
          <br />
          <p><strong>Disponible sur ces navigateurs </strong></p>
          <p align="center">
            <a href="https://addons.mozilla.org/fr/firefox/addon/localcdn-fork-of-decentraleyes" rel="noopener noreferrer" target="_blank"><img src="assets/images/get-firefox-add-on.png" alt="Get uBlock Origin for Firefox"></a>
            <a href="https://chrome.google.com/webstore/detail/localcdn/njdfdhgcmkocbgbhcioffdbicglldapd" rel="noopener noreferrer" target="_blank"><img src="assets/images/get-chrome-add-on.png" alt="Get uBlock Origin for Chrome and Chromium"></a>
          </p>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/clearurls.svg" class="card-img-top" alt="Logo de clearURLs" width="200" height="300">
        <div class="card-body">
          <h3 class="card-title"><strong>ClearURLs</strong></h3>
          <p class="description">Supprime automatiquement les pisteurs des liens hypertextes</p>
          <br />
          <p><strong>Pourquoi c'est plus green ?</strong><br/>
            Pister les utilisateurs est couteux en ressources. Sans les éléments permettant le tracking, moins de ressources sont utilisées sur les serveurs.
          </p>
          <br />
          <p><strong>D'autres avantages :</strong><br/>
            <ul>
              <li>Plus de vie privée: Les sites en sauront moins sur vous.</li>
            </ul>
          </p>
          <br />

          <p><strong>Disponible sur ces navigateurs </strong></p>
          <p align="center">
            <a href="https://addons.mozilla.org/fr/firefox/addon/clearurls" rel="noopener noreferrer" target="_blank"><img src="assets/images/get-firefox-add-on.png" alt="Get uBlock Origin for Firefox"></a>
            <a href="https://chrome.google.com/webstore/detail/clearurls/lckanjgmijmafbedllaakclkaicjfmnk" rel="noopener noreferrer" target="_blank"><img src="assets/images/get-chrome-add-on.png" alt="Get uBlock Origin for Chrome and Chromium"></a>
            <a href="https://microsoftedge.microsoft.com/addons/detail/clearurls/mdkdmaickkfdekbjdoojfalpbkgaddei" rel="noopener noreferrer" target="_blank"><img src="assets/images/get-microsoft-edge-add-on.png" alt="Get uBlock Origin for Microsoft Edge"></a>
          </p>

        </div>
      </div>
    </section>

    <footer class="container" align="center">
      <p align="center">
        <sub>Réalisé par <a href="https://altertek.org" rel="noopener noreferrer" target="_blank">Altertek</a></sub>
      </p>
    </footer>
</div>
    </body>
</html>
